*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;

 
}

header{
    background-color: rgb(100, 143, 181);
}

h1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

#div0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px grey;
}

#div1 {
    margin-right: 80px;
}

#div2 {
    display: flex;

}

#div3 {
    text-align: center;
    padding: 80px;
}

.parrafo1 {
    margin: 20px;
    font-size: 10px;
    color: white;
}

.enlace1 {
    margin: 10px;
    font-size: 10px;
    color: white;
}



.green{
    border-style: ridge;
    border-radius: 16px;
    border-color: green;
    border-width: 2px;
    padding: 10px;
    margin: 0px auto;
    color: green;
    text-align: center;
    width: 160px;
    font-size: 12px;
    margin-top: 20px;

}

:focus .green{
    background-color: red;
    color: white;
}

#div_central {
    display: flex;
    align-items: center;
    padding: 30px;
}

#derecha {
    padding: 10px;
    margin: 0px auto;
    align-items: center;
    width:50%;
    padding: 60px;

}

#izquierda {
    padding: 10px;
    margin: 0px auto;
    align-items: center;
    width:50%;
    padding: 60px;
    
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0px auto;
    margin-left: 70px;
}

.texto {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario {
    color: white;
    background-color: green;
    padding: 60px;
    font-size: 15px;
}

#parrafoform1 {
    text-align: center;
    
}

#inputs1 {
    align-items: center;
    display: flex;
    
    
}

.inputs2 {
    margin: 10px;
    display:block;
    width: 100%;

    
    
}

.input {
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #D8D8D8 1px solid;
}

#fp3 {
    border: #D8D8D8 1px solid;
    padding:10px;
}